/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };
&mt { quick_tap_ms = <200>; };

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
    &kp ESC  &kp Q  &kp W   &kp E   &kp R   &kp T                                                            &kp Y   &kp U   &kp I   &kp O   &kp P     &kp BSPC
    &kp TAB  &kp A  &kp S   &kp D   &kp F   &kp G   &kp PAUS &kp LALT                       &kp LGUI &mo 3   &kp H  &kp J   &kp K   &kp L   &kp SCLN  &kp RET
    &kp LCTL &kp Z  &kp X   &kp C   &kp V   &kp B   &kp SPC  &kp SPC &lt 1 LCTL  &lt 2 RCTL &kp SPC  &kp SPC &kp N  &kp M  &kp COMMA &kp DOT &kp BSLH  &kp RSFT
                        >;
                };
                lower_layer {
                        bindings = <
    &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                                                   &kp F7  &kp F8  &kp F9   &kp F10  &kp F11   &kp F12
    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &trans   &trans                         &trans   &trans  &kp N7  &kp N8   &kp N9   &kp N0    &kp MINUS &kp EQUAL
    &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans  &kp LCTL      &trans   &trans   &trans  &kp SQT &kp FSLH &kp LBKT &kp RBKT  &kp BSLH  &trans    
                        >;  
                };

                raise_layer {
                        bindings = <
   &kp GRAVE &none  &mmv MOVE_UP   &none   &none   &none                                                      &none     &kp PG_UP &kp UP   &kp PG_DN &kp PSCRN &kp DEL
   &kp CAPS  &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_RIGHT &mwh SCROLL_UP &none &none &none          &none  &none     &kp HOME  &kp LEFT &kp DOWN  &kp RIGHT &none &none
   &none     &none   &none   &none  &mwh SCROLL_DOWN  &none  &mkp LCLK  &none  &none              &none  &none  &mkp RCLK &none     &none    &none     &none &none     &none
                        >;
                };
                adjust_layer {
                        bindings = <
    &none &bootloader &none  &none  &none   &none                                                       &none   &none   &none   &none   &none    &kp PAUSE_BREAK
    &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none   &none &none    &none   &none   &none   &none   &none    &none
    &none    &none  &none   &none   &none   &none   &none    &none   &none         &none    &none   &none    &none   &none   &none   &none   &none    &none
                        >;
                };
        };
};